body {
height:100%;
overflow-y: scroll;
}
html {
	height:100%;
}
h2 {
  margin-left: 20px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
#push, #footer {
height: 40px;
}
#footer {
    background-color: #fff;
}
.white {
    color: #fff
}
#app_container {

  /*margin-top:80px;*/
  background-color: rgba(255,255,255,.4);
  /*border: 1px solid #e2e2e2;*/
  border-radius:6px;
  padding-left: 0px;
}
.center_items {
	background-color: #ffffff;
	border-radius:6px;
}
.full_opacity {
	opacity:1;
}
.no-opacity {
  opacity:0;
}
.no-display {
  display:none;
}
.input_form {
	text-align: center;
}
.lead {
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 8px;
}
.input_div {

  margin-left:6px!important;
  width:928px;
}
[class*="span"] {
  margin-left: 0;
}
.category_table {
  margin:6px;
}
.above_nav{
  position:relative;
  top:-40px;
}
#signin_form, .input-div-container {
  border-right: 1px solid #e2e2e2;
}
.loading {
  width: 100px;
  margin: 8% auto 8% 46%;
}
.categorylist {
  width: 200px;
}
.categorylist:hover {
  text-decoration: underline;
  cursor:pointer;
}
.icon-float {
  float:right;
}
.narrow-modal-body {
  margin: 0 auto 0 auto;
  width: 220px;
}
.month-select {
  text-align:center;
  margin-left: 20px;
}
.comment_blue {
  background-image: url('img/comment_blue.png');
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: -5px -4px;
  background-repeat: no-repeat;
}
.input-error {
  background-color: #ffeeee !important;
  border: 1px solid #ff0000 !important;
}
#input_error_div {
  margin:2px;
  padding:0;
  font-size: 10pt;
  text-align: center;
  height:20px;
}
.tour {
  z-index: 1100;
}
.docs_table td {
  max-width: 400px;
  word-wrap:break-word;
}
.categoryFeedback {
    color: #b10000;
}
#csv_modal {
  width:760px;
  margin-left: -380px;
}


/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}


/* ===== watable  ===== */

.watable {
  width:96%;
  margin-left:auto;
  margin-right: auto;
}

.watable * {
  white-space: nowrap;
  font-size: 11px !important;
}

.watable p {
  margin: 0;
}
.watable td,
.watable th {
  line-height: 18px;
}

.watable i {
  margin: 0 0 0 2px;
  opacity: 0.5;
}

.watable tfoot .btn {
  height: 34px;
}

.watable span.filter {
  background-color: #999;
}

.watable .indeterminate {
  opacity: 0.4;
}

.watable .columnpicker li,
.watable .actions li {
  padding-left: 5px;
}

.watable .btn-toolbar {
  margin: 2px 0 0 0;
}

.watable .btn-toolbar .btn-group {
  vertical-align: top;
}

.watable .pagination {
  margin: 0;
  height: 34px;
}

.watable .pagination a {
  line-height: 24px;
}

.watable input[type=checkbox] {
  margin: 0;
  padding: 0;
  height: 13px;
}

.watable input[type=text].filter {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  width: 80px;
  float: left;
}

.watable .date-wrap {
  width: 100%;
  min-width: 115px;
}

.watable .dateWrap .add-on {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  float: right;
  cursor: pointer;
}

.watable .dropdown-menu {
  max-height: 250px;
  overflow: auto;
}

.watable .actions a {
  padding: 0;
  margin: 0;
}